---
import "../styles/global.css";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import About from "../components/sections/About.astro";
import Process from "../components/sections/Process.astro";
import Gallery from "../components/sections/Gallery.astro";
import Contacts from "../components/sections/Contacts.astro";
import Footer from "../components/sections/Footer.astro";
import StickyCta from "../components/sections/StickyCta.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/favicon.ico" />
		<!-- INSERT_YOUR_CODE -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Manrope:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Eleganza | Centro estetico a Roma</title>
	</head>
	<body class="bg-[#f9f3ec] font-[\"Manrope\",sans-serif] text-[#2b2322]">
		<Hero />
		<Services />
		<About />
		<Process />
		<Gallery />
		<Contacts />
		<Footer />
		<StickyCta />
	</body>
</html>
